@mixin tags($margin) {
  display: flex;

  .tagline{
    width: 100%;
    align-self: center;

      h3{
        font-size: 5em;
        font-family: 'Arimo', sans-serif;
        margin-bottom: $margin;
        letter-spacing: 0.5rem;
      }
  }
}

@mixin category($img){
  width: 50%;
  background-size: cover;
  background-image: url($img);
  font-size: 10px;

    @include tags(0.5em);
}

@mixin quotes($width, $width2){
  height: 100%;
  width: 100%;
  display: flex;

    .portrait{
      width: $width;
      height: 100%;

        img{
          height: 100%;
          width: 100%;
        }
    }

    .quote{
      width: $width2;
      align-self: center;
      text-align: center;
      line-height: 5rem;
      font-size: 2rem;
    }
}
