@mixin tags($margin) {
  display: flex;
  font-size: 16px;

  @include mQ(480px){
    font-size: 10px;
  }

  .tagline{
    width: 100%;
    align-self: center;

      h3{
        font-size: 5em;
        font-family: 'Arimo', sans-serif;
        margin-bottom: $margin;
        letter-spacing: 0.5rem;

        @include mQ(480px){
          font-size: 3em;
          margin-bottom: $margin + 0.4em;
        }
      }
  }
}

@mixin category($img){
  width: 50%;
  background-size: cover;
  background-image: url($img);
  font-size: 10px;

  @include mQ(480px){
    width: 100%;
    height: 33.33%;
  }

    @include tags(0.5em);
}

@mixin quotes($width, $width2){
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: flex;

  @include mQ(480px){
    font-size: 10px;
  }

    .portrait{
      width: $width;
      height: 100%;

      @include mQ(480px){
        display: none;
      }

        img{
          height: 100%;
          width: 100%;
        }
    }

    .quote{
      width: $width2;
      align-self: center;
      text-align: center;
      line-height: 3em;
      font-size: 2em;

      @include mQ(480px){
        width: 100%;
        line-height: 2.5em;
      }

    }
}


@mixin mQ($width){
  @media only screen and (max-width: $width){
    @content;
  }
}
