@import 'mixins';

// ========================== RESET ==============================

html, body, header, nav, section, div, h3, p, ul, li, a, blockquote, img, form, input, textarea, button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:active, a:visited{
  color: #ffffff;
  text-decoration: none;
}

// *********** common classes library ****************

.button-hover{
  transform: scale(0.9);
}

.link{
  padding: 0.5rem 0.9rem;
  border: 0.1rem solid #ffffff;
  font-size: 1.3rem;
}

.quotations{
max-width: 700px;
margin: 0 auto;
}

.hide{
  visibility: hidden;
  opacity: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  overflow-x: hidden;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 3px;
}

// =============================== HEADER =============================

// *********** video styling and positioning*************

.video-header{
  height: 100%;
  color: #ffffff;

    .fullscreen-position{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .fullscreen-video-wrap{
      overflow: hidden;

      @include mQ(480px){
        background-image: url("../Img/mobile-bg.png");
        background-size: cover;
      }

        video{
          min-width: 100%;
          min-height: 100%;

          @include mQ(480px){
            display: none;
          }
        }
    }

// *********** header overlay*************

    .header-overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(1, 29, 53, 0.41);

      @include mQ(480px){
        background-color: rgba(1, 29, 53, 0.69);
      }
    }

// *********** header content styling and positioning *************

    .header-content{
      z-index: 1;
      text-align: center;
      font-size: 16px;
      padding-top: 2%;

      @include mQ(480px){
        font-size: 13px;
      }

// *********** logo and navigation styling and positioning *************

      .top-container{
        width: 100%;
        height: 10%;
        display: flex;

          .logo{
            width: 15%;
            align-self: center;
            font-size: 2em;

            @include mQ(480px){
              margin-left: 5%;
            }
          }

          .navigation{
            width: 10%;
            align-self: center;
            font-size: 1.3em;
            z-index: 1;
            position: absolute;
            right: 2%;
            transition: all 0.3s;

            @include mQ(480px){
              right: 15%;
            }

            p:hover{
              cursor: pointer;
            }
            }
          }

          .tag-wrapper{
            @include tags(0.3em);

            p{
              font-size: 2em;
              margin-bottom: 1.5em;
            }
          }
    }

// *********** Navigation menu styling and positioning*************

    #menu-overlay{
      @include menu;
    }

    #close{
      position: absolute;
      top: 5%;
      right: 5%;
    }

    #close:hover{
      cursor: pointer;
    }
}



// ==================== SECTION - 1 | QUOTE WITH IMAGE ====================

        .quote-container{
            @include quotes(30%, 70%);
          }

// ==================== SECTION - 2 | ABOUT SECTION ====================

              .about-wrapper{
                background: #202020;
                color: #ffffff;
                  @include quotes(30%, 70%);

                  .quote{
                    align-self: flex-start;
                    margin: 2%;

                      @include mQ(480px){
                        align-self: center;
                      }

                    h3{
                      text-align: left;
                      font-size: 3rem;
                      letter-spacing: 1rem;

                      @include mQ(480px){
                        text-align: center;
                        margin-bottom: 15%;
                        letter-spacing: 0.5rem;
                      }
                    }

                    p{
                      margin: 2%;
                      letter-spacing: 0.6rem;

                      @include mQ(480px){
                        margin: 3% 0;
                        letter-spacing: 0.3rem;
                      }

                      .fa{
                        margin-right: 2%;
                      }
                    }
                  }
              }

// ==================== SECTION - 3 | PLACES TILE ====================

    .category-wrapper{
      width: 100%;
      height: 100%;
      color: #ffffff;
      text-align: center;

        .places-container{
          width: 100%;
          height: 50%;
          background-image: url("../Img/Places.png");
          background-size: cover;

          @include mQ(480px){
            height: 33.33%;
          }

            @include tags(0.3em);
        }

        .category-container{
          width: 100%;
          height: 50%;
          display: flex;

          @include mQ(480px){
            display: block;
            height: 100%;
          }

            .people-container{
              @include category("../Img/People.png");
            }

            .events-container{
              @include category("../Img/Events.png");
            }
        }
    }

    // ==================== SECTION - 4 | CATEGORY AND QUOTE WITH PORTRAIT ====================

    .quote-container-2{
      color: #ffffff;
      background: black;
        @include quotes(40%, 60%);
      }

// ==================== SECTION - 5 | CONTACT FORM ====================

.half-screen{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;

  @include mQ(480px){
    width: 100%;
  }
}

#contact-wrapper{
width: 100%;
height: 100%;
font-size: 16px;

@include mQ(480px){
  font-size: 10px;
  height: auto;
}

    #action-top{
    width: 100%;
    height: 20%;
    font-size: 4em;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;

    @include mQ(480px){
      font-size: 3em;
    }

      p{
        width: 100%;
      }
    }

    #contact-container{
    	width: 100%;
    	height: 80%;
    	display: flex;

        #contact-img{

          @include mQ(480px){
            display: none;
          }

            div{
              max-width: 350px;
              margin: 0 auto;

                img{
                  width: 100%;
              }
          }
      }

          #contact-form{

            @include mQ(480px){
              margin-bottom: 10%;
            }

              form{
                width: 90%;
                margin: 0 auto;

                  #name, #email, #message, #send{
                  	width: 100%;
                  }

                  input, textarea, #send button{
                  	width: 94%;
                  	margin: 2% 3%;
                  	font-size: 1.3rem;
                  	padding: 0.9rem 1.5rem;
                  	border-radius: 1.5rem;
                  	border-style: none;
                  	outline: none;
                    background: #e7e6e6;
                    font-weight: bold;
                    font-family: 'Questrial', sans-serif;
                    color: #817f7f;
                    transition: all 0.2s;
              }

                input:focus, textarea:focus, input:hover, textarea:hover{
                  background: #ffffff;
                  border: 0.1rem solid #817f7f;
              }

              #send button{
                background: #003471;
                color: #ffffff;
                letter-spacing: 0.3rem;
              }

              #send button:hover{
                background: #012d61;
              }
          }
      }
  }
}

// ==================== FOOTER | PORTRAITS AND SOCIAL LINKS ====================

footer{
  width: 100%;
  background: #202020;
  color: #ffffff;
  font-size: 16px;

  @include mQ(480px){
    font-size: 10px;
  }

    .lower-portraits{
      width: 100%;

        img{
          width: 100%;
        }
    }

    .social{
      width: 100%;
      text-align: center;
      margin: 2%;
      font-size: 3em;

      @include mQ(480px){
        margin: 2% 0;
      }

        .fa{
          margin: 2%;
        }
    }

    .copyrights{
      width: 100%;
      text-align: center;
      padding: 0 1rem 1rem 1rem;

        h3, p{
          display: inline-block;
          margin: 0 0.5%;

          @include mQ(480px){
            line-height: 1.5em;
          }
        }

        h3{
          font-size: 3rem;
        }
    }
}
