html, body, header, nav, section, div, h3, p, ul, li, a, blockquote, img, form, input, textarea, button {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a, a:active, a:visited {
  color: #ffffff;
  text-decoration: none; }

.button-hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

.link {
  padding: 0.5rem 0.9rem;
  border: 0.1rem solid #ffffff;
  font-size: 1.3rem; }

.quotations {
  max-width: 700px;
  margin: 0 auto; }

.hide {
  visibility: hidden;
  opacity: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  overflow-x: hidden;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 3px; }

.video-header {
  height: 100%;
  color: #ffffff; }
  .video-header .fullscreen-position {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .video-header .fullscreen-video-wrap {
    overflow: hidden; }
    @media only screen and (max-width: 480px) {
      .video-header .fullscreen-video-wrap {
        background-image: url("../Img/mobile-bg.png");
        background-size: cover; } }
    .video-header .fullscreen-video-wrap video {
      min-width: 100%;
      min-height: 100%; }
      @media only screen and (max-width: 480px) {
        .video-header .fullscreen-video-wrap video {
          display: none; } }
  .video-header .header-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 29, 53, 0.41); }
    @media only screen and (max-width: 480px) {
      .video-header .header-overlay {
        background-color: rgba(1, 29, 53, 0.69); } }
  .video-header .header-content {
    z-index: 1;
    text-align: center;
    font-size: 16px;
    padding-top: 2%; }
    @media only screen and (max-width: 480px) {
      .video-header .header-content {
        font-size: 13px; } }
    .video-header .header-content .top-container {
      width: 100%;
      height: 10%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .video-header .header-content .top-container .logo {
        width: 15%;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 2em; }
        @media only screen and (max-width: 480px) {
          .video-header .header-content .top-container .logo {
            margin-left: 5%; } }
      .video-header .header-content .top-container .navigation {
        width: 10%;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 1.3em;
        z-index: 1;
        position: absolute;
        right: 2%;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        @media only screen and (max-width: 480px) {
          .video-header .header-content .top-container .navigation {
            right: 15%; } }
        .video-header .header-content .top-container .navigation p:hover {
          cursor: pointer; }
    .video-header .header-content .tag-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 16px; }
      @media only screen and (max-width: 480px) {
        .video-header .header-content .tag-wrapper {
          font-size: 13px; } }
      .video-header .header-content .tag-wrapper .tagline {
        width: 100%;
        -ms-flex-item-align: center;
        align-self: center; }
        .video-header .header-content .tag-wrapper .tagline h3 {
          font-size: 5em;
          font-family: 'Arimo', sans-serif;
          margin-bottom: 0.3em;
          letter-spacing: 0.5rem; }
          @media only screen and (max-width: 480px) {
            .video-header .header-content .tag-wrapper .tagline h3 {
              font-size: 3em;
              margin-bottom: 0.7em; } }
      .video-header .header-content .tag-wrapper p {
        font-size: 2em;
        margin-bottom: 1.5em; }
  .video-header #menu-overlay {
    background: #202020;
    z-index: 2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .video-header #menu-overlay div:nth-of-type(1),
    .video-header #menu-overlay div:nth-of-type(2),
    .video-header #menu-overlay div:nth-of-type(3),
    .video-header #menu-overlay div:nth-of-type(4),
    .video-header #menu-overlay div:nth-of-type(5) {
      width: 100%;
      height: 20%;
      color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 2rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  .video-header #close {
    position: absolute;
    top: 5%;
    right: 5%; }
  .video-header #close:hover {
    cursor: pointer; }

.quote-container {
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 480px) {
    .quote-container {
      font-size: 10px; } }
  .quote-container .portrait {
    width: 30%;
    height: 100%; }
    @media only screen and (max-width: 480px) {
      .quote-container .portrait {
        display: none; } }
    .quote-container .portrait img {
      height: 100%;
      width: 100%; }
  .quote-container .quote {
    width: 70%;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    line-height: 3em;
    font-size: 2em; }
    @media only screen and (max-width: 480px) {
      .quote-container .quote {
        width: 100%;
        line-height: 2.5em; } }

.about-wrapper {
  background: #202020;
  color: #ffffff;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 480px) {
    .about-wrapper {
      font-size: 10px; } }
  .about-wrapper .portrait {
    width: 30%;
    height: 100%; }
    @media only screen and (max-width: 480px) {
      .about-wrapper .portrait {
        display: none; } }
    .about-wrapper .portrait img {
      height: 100%;
      width: 100%; }
  .about-wrapper .quote {
    width: 70%;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    line-height: 3em;
    font-size: 2em; }
    @media only screen and (max-width: 480px) {
      .about-wrapper .quote {
        width: 100%;
        line-height: 2.5em; } }
  .about-wrapper .quote {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 2%; }
    @media only screen and (max-width: 480px) {
      .about-wrapper .quote {
        -ms-flex-item-align: center;
        align-self: center; } }
    .about-wrapper .quote h3 {
      text-align: left;
      font-size: 3rem;
      letter-spacing: 1rem; }
      @media only screen and (max-width: 480px) {
        .about-wrapper .quote h3 {
          text-align: center;
          margin-bottom: 15%;
          letter-spacing: 0.5rem; } }
    .about-wrapper .quote p {
      margin: 2%;
      letter-spacing: 0.6rem; }
      @media only screen and (max-width: 480px) {
        .about-wrapper .quote p {
          margin: 3% 0;
          letter-spacing: 0.3rem; } }
      .about-wrapper .quote p .fa {
        margin-right: 2%; }

.category-wrapper {
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center; }
  .category-wrapper .places-container {
    width: 100%;
    height: 50%;
    background-image: url("../Img/Places.png");
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px; }
    @media only screen and (max-width: 480px) {
      .category-wrapper .places-container {
        height: 33.33%; } }
    @media only screen and (max-width: 480px) {
      .category-wrapper .places-container {
        font-size: 13px; } }
    .category-wrapper .places-container .tagline {
      width: 100%;
      -ms-flex-item-align: center;
      align-self: center; }
      .category-wrapper .places-container .tagline h3 {
        font-size: 5em;
        font-family: 'Arimo', sans-serif;
        margin-bottom: 0.3em;
        letter-spacing: 0.5rem; }
        @media only screen and (max-width: 480px) {
          .category-wrapper .places-container .tagline h3 {
            font-size: 3em;
            margin-bottom: 0.7em; } }
  .category-wrapper .category-container {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 480px) {
      .category-wrapper .category-container {
        display: block;
        height: 100%; } }
    .category-wrapper .category-container .people-container {
      width: 50%;
      background-size: cover;
      background-image: url("../Img/People.png");
      font-size: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 16px; }
      @media only screen and (max-width: 480px) {
        .category-wrapper .category-container .people-container {
          width: 100%;
          height: 33.33%; } }
      @media only screen and (max-width: 480px) {
        .category-wrapper .category-container .people-container {
          font-size: 13px; } }
      .category-wrapper .category-container .people-container .tagline {
        width: 100%;
        -ms-flex-item-align: center;
        align-self: center; }
        .category-wrapper .category-container .people-container .tagline h3 {
          font-size: 5em;
          font-family: 'Arimo', sans-serif;
          margin-bottom: 0.5em;
          letter-spacing: 0.5rem; }
          @media only screen and (max-width: 480px) {
            .category-wrapper .category-container .people-container .tagline h3 {
              font-size: 3em;
              margin-bottom: 0.9em; } }
    .category-wrapper .category-container .events-container {
      width: 50%;
      background-size: cover;
      background-image: url("../Img/Events.png");
      font-size: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 16px; }
      @media only screen and (max-width: 480px) {
        .category-wrapper .category-container .events-container {
          width: 100%;
          height: 33.33%; } }
      @media only screen and (max-width: 480px) {
        .category-wrapper .category-container .events-container {
          font-size: 13px; } }
      .category-wrapper .category-container .events-container .tagline {
        width: 100%;
        -ms-flex-item-align: center;
        align-self: center; }
        .category-wrapper .category-container .events-container .tagline h3 {
          font-size: 5em;
          font-family: 'Arimo', sans-serif;
          margin-bottom: 0.5em;
          letter-spacing: 0.5rem; }
          @media only screen and (max-width: 480px) {
            .category-wrapper .category-container .events-container .tagline h3 {
              font-size: 3em;
              margin-bottom: 0.9em; } }

.quote-container-2 {
  color: #ffffff;
  background: black;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 480px) {
    .quote-container-2 {
      font-size: 10px; } }
  .quote-container-2 .portrait {
    width: 40%;
    height: 100%; }
    @media only screen and (max-width: 480px) {
      .quote-container-2 .portrait {
        display: none; } }
    .quote-container-2 .portrait img {
      height: 100%;
      width: 100%; }
  .quote-container-2 .quote {
    width: 60%;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    line-height: 3em;
    font-size: 2em; }
    @media only screen and (max-width: 480px) {
      .quote-container-2 .quote {
        width: 100%;
        line-height: 2.5em; } }

.half-screen {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media only screen and (max-width: 480px) {
    .half-screen {
      width: 100%; } }

#contact-wrapper {
  width: 100%;
  height: 100%;
  font-size: 16px; }
  @media only screen and (max-width: 480px) {
    #contact-wrapper {
      font-size: 10px;
      height: auto; } }
  #contact-wrapper #action-top {
    width: 100%;
    height: 20%;
    font-size: 4em;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      #contact-wrapper #action-top {
        font-size: 3em; } }
    #contact-wrapper #action-top p {
      width: 100%; }
  #contact-wrapper #contact-container {
    width: 100%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 480px) {
      #contact-wrapper #contact-container #contact-img {
        display: none; } }
    #contact-wrapper #contact-container #contact-img div {
      max-width: 350px;
      margin: 0 auto; }
      #contact-wrapper #contact-container #contact-img div img {
        width: 100%; }
    @media only screen and (max-width: 480px) {
      #contact-wrapper #contact-container #contact-form {
        margin-bottom: 10%; } }
    #contact-wrapper #contact-container #contact-form form {
      width: 90%;
      margin: 0 auto; }
      #contact-wrapper #contact-container #contact-form form #name, #contact-wrapper #contact-container #contact-form form #email, #contact-wrapper #contact-container #contact-form form #message, #contact-wrapper #contact-container #contact-form form #send {
        width: 100%; }
      #contact-wrapper #contact-container #contact-form form input, #contact-wrapper #contact-container #contact-form form textarea, #contact-wrapper #contact-container #contact-form form #send button {
        width: 94%;
        margin: 2% 3%;
        font-size: 1.3rem;
        padding: 0.9rem 1.5rem;
        border-radius: 1.5rem;
        border-style: none;
        outline: none;
        background: #e7e6e6;
        font-weight: bold;
        font-family: 'Questrial', sans-serif;
        color: #817f7f;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
      #contact-wrapper #contact-container #contact-form form input:focus, #contact-wrapper #contact-container #contact-form form textarea:focus, #contact-wrapper #contact-container #contact-form form input:hover, #contact-wrapper #contact-container #contact-form form textarea:hover {
        background: #ffffff;
        border: 0.1rem solid #817f7f; }
      #contact-wrapper #contact-container #contact-form form #send button {
        background: #003471;
        color: #ffffff;
        letter-spacing: 0.3rem; }
      #contact-wrapper #contact-container #contact-form form #send button:hover {
        background: #012d61; }

footer {
  width: 100%;
  background: #202020;
  color: #ffffff;
  font-size: 16px; }
  @media only screen and (max-width: 480px) {
    footer {
      font-size: 10px; } }
  footer .lower-portraits {
    width: 100%; }
    footer .lower-portraits img {
      width: 100%; }
  footer .social {
    width: 100%;
    text-align: center;
    margin: 2%;
    font-size: 3em; }
    @media only screen and (max-width: 480px) {
      footer .social {
        margin: 2% 0; } }
    footer .social .fa {
      margin: 2%; }
  footer .copyrights {
    width: 100%;
    text-align: center;
    padding: 0 1rem 1rem 1rem; }
    footer .copyrights h3, footer .copyrights p {
      display: inline-block;
      margin: 0 0.5%; }
      @media only screen and (max-width: 480px) {
        footer .copyrights h3, footer .copyrights p {
          line-height: 1.5em; } }
    footer .copyrights h3 {
      font-size: 3rem; }
